name: cwru_flea_market
description: A CWRU Flea Market App
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  # 你 main.dart 用到的依赖
  flutter_dotenv: ^5.1.0
  supabase_flutter: ^2.3.4
  url_launcher: ^6.2.6
  image_picker: ^1.1.2

  # 可选（如果 auth_page / post_page 用到 Material）
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/.env
